<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Menú Principal</title>
</head>
<body>
    <h1>Menú Principal</h1>
    <form action="{{ url_for('ejercicio1') }}" method="post">
        <button class="morado" type="submit">Ejercicio 1</button>
    </form>
    <form action="{{ url_for('ejercicio2') }}" method="post">
        <button class="verde" type="submit">Ejercicio 2</button>
    </form>
</body>
</html>
